body {
  width: 80%;
  margin: 30px auto;
  font-family: sans-serif;
}

h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

div {
  font-size: 0;
}

/*The Gallery*/
a {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  height: 200px;
  margin-right: 8px;
}

/* many media queries for the column/grid layout */

a:nth-of-type(2n) {
  margin-right: 0;
}

/* 3 column grid */
@media screen and (min-width: 45em) and (max-width: 64em){
  a {
    width: calc(33% - 6px);
  }
  
  a:nth-of-type(n) {
    margin-right: 8px;
  }
  
  a:nth-of-type(3n) {
    margin-right: 0;
  }
}

/* 4 column grid */
@media screen and (min-width: 65em) and (max-width: 89em){
  a {
    width: calc(25% - 6px);
  }
  
  a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

/* 5 column grid */
@media screen and (min-width: 90em) and (max-width:105em){
  a {
    width: calc(20% - 6px);
  }
  
  a:nth-of-type(n) {
    margin-right: 6px;
  }
  
  a:nth-of-type(5n) {
    margin-right: 0;
  }
}

/* 6 column grid */
@media screen and (min-width: 106em){
  a {
    width: calc(16% - 6px);
  }
  
  a:nth-of-type(n) {
    margin-right: 6px;
  }
  
  a:nth-of-type(6n) {
    margin-right: 0px;
  }
}

/*end media queries*/

a:hover img {
  transform: scale(0.85);
  width: 100%;
}

figure {
  margin: 0;
}

img {
  border: none;
  overflow: hidden;
  height: 200px;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.p a {
  display: inline;
  font-size: 13px;
  margin: 0;
}

.p {
  text-align: center;
  font-size: 13px;
  padding-top: 100px;
}

/* The Lightbox */
#lightbox{
  display: none;
  position: absolute;
  top: 0px;
  width:100%;
  height: 100%;
  overflow-x:scroll;
  left: 0px;
  overflow-y: scroll;
}

#bg{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity: .90;
  filter: alpha(opacity=80);
}

#lightbox.show{
  display: block;
}

#bigImage{
  position: fixed;
  top: 10%;
  left: 25%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1004;
}

#bigImage > img{
  height: 100%;
  width: 100%;
  background-repeat: none;
  background-size: cover;
}

#bigImage > .title{
  position: fixed;
  top: 0px;
  height: 40px;
  text-align: center;
  width: 50%;
  z-index: 1006;
  color: white;
  font-size: 20pt;
}

.btn{
  background-color: rgba(255, 255, 255, 0.05);
  color: whitesmoke;
  border: none;
  font-size: 28pt;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 10%;
  transition: background-color 0.1s ease-in-out;
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.btn:active{
  background-color: rgba(255, 255, 255, 0.25);
}

.btn:focus{
  outline:0;
}

#left{
  left: 0;
}

#right{
  right: 0;
}

#preload{
  display: none;
}

.message{
  width: 50%;
  height: 3%;
  color: whitesmoke;
  font-size: 20px;
  position: fixed;
  bottom: 5%;
  text-align: center;
}